<h2>GAME TIME</h2>

<h3>Choose a Game:</h3>

<a href="/hangman"><img src="/images/hangman.png" alt="hangman image"></a>
<img src="/images/tic_tac_toe.png" alt="tic tac toe image">


<!-- <button name="hangman-button" data-game='hangman'>Hangman</button>
<button name="tic_tac_toe-button" data-game='tic_tac_toe'>Tic Tac Toe</button> -->

<script charset="utf-8">
  
</script>